/* SCROLLBAR */
::selection {background:rgba(0,0,0,.1);}
::-webkit-scrollbar {width:.6em;}
::-webkit-scrollbar-track {background: var(--middlegrey);}
::-webkit-scrollbar-thumb {background-color: var(--darkgrey); border-radius: 6px;}
@media screen and (max-width:600px){ ::-webkit-scrollbar {display:none;}}

/* COLOR */
:root {
    --background: #ffffff;
    --yellow:#fae345;
    --middlegrey: #ededed;
    --darkgrey:#aaaaaa;
    --black: #000000;
}

/* ELEMENTS */
*{margin: 0;padding:0;box-sizing:border-box;scroll-behavior:smooth;outline:none;}
html{overflow-y: auto;}
body{
    left:0;right:0;background-color:var(--background);
    font-family: 'Noto Sans KR', sans-serif;
}

img{width:100%;}

.wongok{
    width:100%;
    max-width:300px;
    margin: 2em auto;
    display:block;
}

.photo{
    max-width:600px;
    display:block;
    margin:0 auto;
}

#navbar{
    width:100%;
    position:fixed;
    padding:.6em 1.2em;
    background: var(--background);
    z-index:4;
}

section{
    width:100%;
    max-width:960px;
    margin: 0 auto;
    padding: 24px;
    display:block;
    background: var(--background);
}

button{color: var(--black);}

.map{
    width:100%;
    height:72vh;
    margin-top: 1.2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
    background-image:url(illusts/map_bg.png);
    position:absolute;
}

.map > div{
    position:relative;
    top:60%;
    width:100%;
    max-width:1080px;
    margin: 0 auto;
    padding: 24px;
}

@media screen and (max-width:600px){
    .map{
        width:100%;
        height:72vh;
        margin-top: 1.2em;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-image:url(illusts/map_bg.png);
        position:absolute;
    }
}

.info-section > p{
    margin:0;
    padding: 1em 0 0 0;
}

.infographic-wrapper{
    width:100%;
    padding: 1em;
}

.infographic{
    width:100%;
    max-width:600px;
    margin: 0 auto;
    padding: 1em 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: .6em;
}

.info-border{ 
    width:100%;
    max-width:600px;
    margin: 0 auto;
    border-bottom: 1px solid var(--black);
}

.infographic > img {
    display:inline-block;
    width:100%;
}

@media screen and (max-width:600px){
    .infographic{display:block;}
    .infographic > img {margin: 0 0 1em 0;}
}

button{
    width:100%;
    border:none;
    background:none;
    margin: 0 auto;
}

.thumbnail-wrapper > .button-two, .thumbnail-wrapper > .button-three{
    height:240px;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
    font-weight: 600;
}

.button-two{background-image:url(photo/button_2.jpg);background-size: auto 100%;}
.button-three{background-image:url(photo/button_3.jpg);background-size: 100% auto;}

.infographic > button {font-size:1em; display:inline-block;}
.infographic > button > strong {font-weight:600;}

.next-story{ 
    width:100%;
    background-color: var(--middlegrey);
}

.thumbnail-wrapper{
    display:flex;
    width:100%;
    grid-gap: 1em;
}

.thumbnail-wrapper > button{ background-color:var(--yellow);}
.thumbnail{display:inline-block;width:100%;}
.thumbnail> p{ margin:2em;}

@media screen and (max-width:600px){
    .thumbnail-wrapper{
        display:block;
        grid-gap:none;
    }
    .thumbnail{
        margin: 1em 0 0 0;
    }
}

footer{
    background-color: #111111;
    padding-bottom: 2em;
}

footer > section > .thumbnail-wrapper > .thumbnail > p > strong, footer > section > .thumbnail-wrapper > .thumbnail > p > a{ color:white;}

.border-desktop{width: 100%;}

@media screen and (min-width:601px){.border-mobile{display:none;}}
@media screen and (max-width:600px){
    .border-desktop{display:none;}
    .border-mobile{width:100%;}
}

/* TYPOGRAPHY */
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url("Noto_Sans_KR/NotoSansKR-Black.otf"), url("Noto_Sans_KR/NotoSansKR-Bold.otf"), url("Noto_Sans_KR/NotoSansKR-Light.otf"), url("Noto_Sans_KR/NotoSansKR-Medium.otf"), url("Noto_Sans_KR/NotoSansKR-Regular.otf"), url("Noto_Sans_KR/NotoSansKR-Thin.otf");
}

/* h1,.callout,h6, p,.box,.caption{ font-family: 'Noto Sans KR', sans-serif;} */
.center{text-align: center;}
a{color:var(--black);}

h1{font-size: 3em; line-height: 1.2;font-weight: 900; text-align:center} /* title */

.callout{
    font-size: 1.8em; line-height: 1.6;font-weight: 700;
    background-color:var(--yellow);
    margin: 0 auto;
} 

/*Caption*/
h6{font-size:1.2em;line-height: 1.8;}
.caption{font-weight: 400;color:var(--darkgrey);margin:.6em 0 1.2em 0;}
p, .caption, button{line-height: 1.8;display:block;}

button{font-size:1em;}
p{font-size:1.2em;margin: 1em 0;font-weight: 400;}
.caption{font-size:1em;}
p > strong, h6{font-weight: 700;margin-right:.8em; color: var(--black);}
p > span{width:100%;}

@media screen and (max-width:600px){
    h1{font-size:2em;}
    h6,p, button{font-size:1.1em;}
    .caption{font-size:1em;}
}

.box{
    width:100%;
    max-width:600px;
    font-weight: 700;
    padding:1.2em;
    margin: 0 auto 2em auto;
    display:block;
    position: relative;
    background-color:var(--yellow);
    border: 2px solid var(--yellow);
    text-align:center;
}

.right{display:block;}

.right:after, .left:after{
    content: '';
    position: absolute;
    border-top: 18px solid var(--yellow);
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    bottom: -18px;
}

.right:after{right: 18px;}
.left:after{left: 18px;}


