::-webkit-scrollbar {display:none;}

/* COLOR */
:root {
    --background: #ffffff;
    --lightGrey: #dddddd;
    --lightblue: #C6E6FD;
    --turquoise:#00816E;
    --black: #111111;
}

/* ELEMENTS */
*{margin: 0;padding:0;box-sizing:border-box;scroll-behavior:smooth;outline:none;}
html{overflow-y: auto;}
body{margin:0; position:relative;left:0;right:0;background-color:var(--background);}

#navbar{
    width:100%;
    position:fixed;
    padding:.6em 1.2em;
    background: var(--background);
    z-index:4;
}

section{
    width:100%;
    max-width:1080px;
    margin: 0 auto;
    padding: 24px;
    display:block;
}

.map{
    width:100%;
    background:var( --turquoise);
}

.border{
    width:100%;
    border: 1px dashed var( --turquoise);
}

/* TYPOGRAPHY */
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url("Noto_Sans_KR/NotoSansKR-Black.otf"), url("Noto_Sans_KR/NotoSansKR-Bold.otf"), url("Noto_Sans_KR/NotoSansKR-Light.otf"), url("Noto_Sans_KR/NotoSansKR-Medium.otf"), url("Noto_Sans_KR/NotoSansKR-Regular.otf"), url("Noto_Sans_KR/NotoSansKR-Thin.otf");
} 

h1,h2,h6, p,.box{ font-family: 'Noto Sans KR', sans-serif;}
.center{text-align: center;}

h1{font-size: 3em; line-height: 1.2;font-weight: 800;} /* title */
h2{font-size: 2em; line-height: 1.6;font-weight: 400;} /* Callout */
h6{font-size:1.2em;line-height: 1.8;font-weight: 400;color:var(--turquoise);}
p{font-size:1.2em;line-height: 1.8;font-weight: 400; color:var(--black);margin: 1em 0;display:block;}

p > strong{
    font-weight: 600;
    margin-right:.8em;
}

p > span{
    width:100%;
}

.box {
    width:100%;
    max-width:600px;
    font-weight: 600;
    padding:1.2em;
    margin: 1.2em 0;
    background-color: var(--lightblue);
    /* border: 1px solid black;
    box-shadow: 2px 2px var(--black); */
    display:inline-block;
    position: relative;
}

.right{float:right;}

.right:after, .left:after{
    content: '';
    position: absolute;
    border-top: 12px solid var(--lightblue);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    bottom: -12px;
}

.right:after{right: 12px;}
.left:after{left: 12px;}


